 .a-font{
   display: block;
      color: white;
      text-align: center;
      padding: 25px 30px;
   font-family: "Roboto", sans-serif;  
   font-size: 30px;
   font-weight: bold;
  }
.image-row {
    display: flex;
    justify-content: center; 
    gap: 20px;               
}

.image-row img {
    width: 300px; 
  border-radius: 15px;
}

.image-row2 {
    display: flex;
    justify-content: center; 
    gap: 20px;               
}

.image-row2 img {
    width: 300px; 
  border-radius: 15px;
}
.Menu5{
  width:620px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   position: relative;
    top:5px;
}
.Menu6{
  width:620px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   position: relative;
    top:5px;
}
