 .a-font{
   display: block;
      color: white;
      text-align: center;
      padding: 25px 30px;
   font-family: "Roboto", sans-serif;  
   font-size: 30px;
   font-weight: bold;
  }
.Menu1{
   border-radius: 15%;
  width:300px;
   position: relative;
    left: 200px;   
    top: 40px; 
}
.Menu2{
  border-radius: 15%;
  width:300px;
   position: relative;
    left: 200px;   
    top: 40px; 
}
.Menu3 {
  border-radius: 15%;
  width:300px;
   position: relative;
    left: -356px;   
    top: 430px; 
}
.Menu4{
  border-radius: 15%;
  width:300px;
   position: relative;
    left: 550px;   
    top: 35px; 
}
