.img-text-container {
  position: relative;
  width: 650px;     
  margin: 0 auto;  
}


.sushi1 { 
  border-radius: 15%;
  width: 650px;
  height: 300px;
  display: block;
}


.text-over {
  position: absolute;
  top: 40%;          
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;   
  text-shadow: 2px 2px 5px black;  
}
.sushi1-container {
  text-align: center;   
  margin-bottom: 40px;
}

.sushi1-text {
  color: white;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 3px;  
  margin-top: 20px;     
  font-family: 'Poppins', sans-serif;  
}
.tea{ 
  border-radius: 30%;
  width:300px;
   position: relative;
  top: -300px
  }
.sushi2{ 
  border-radius: 30%;
  width:300px;
   float: left;
   position: relative;
  top: -300px
  }
.door{ 
  border-radius: 15%;
  width: 700px;
   float: center;
   position: relative;
  top: -250px
  }
.uber{
 border-radius: 20%;
  width: 250px;
   float: center;
   position: relative;
  top: -225px;
  }

.bottom-text-container {
  display: flex;             
  justify-content: center;     
  gap: 50px;
   position: relative;
  top: -200px;
                
  color: white;
  font-family: 'Poppins', sans-serif;
}

.bottom-paragraph {
  max-width: 400px;            
  line-height: 1.6;            
  font-size: 18px;
  margin: 0;                 
}
