.sushi1{ 
  border-radius: 15%;
   width: 650px;
  height: 300px;
  }
.tea{ 
  border-radius: 30%;
   position: relative;
  top: -300px
  }
.sushi2{ 
  border-radius: 30%;
   float: left;
   position: relative;
  top: -300px
  }
.door{ 
  border-radius: 15%;
  width: 650px;
   float: center;
   position: relative;
  top: -200px
  }
