.img-text-container {
  position: relative;
  width: 650px;     
  margin: 0 auto;  
}
/* This makes the text stay inside the image of sushi1*/

.sushi1 { 
  border-radius: 15%;
  width: 650px;
  height: 300px;
  display: block;
}
/* This makes the image of sushi1 corner rounded width the right size and height*/


.text-over {
  position: absolute;
  top: 40%;          
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;   
  text-shadow: 2px 2px 5px black;  
}
/* This makes the text have a shadow and makes the text white and puts the text in the middle of the image*/

.sushi1-container {
  text-align: center;   
  margin-bottom: 40px;
}
/* This makes the sushi and tea image be in sync and makes the images align and margin-bottom makes the image go upwards and downwards*/


.sushi1-text {
  color: white;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 3px;  
  margin-top: 20px;     
  font-family: 'Poppins', sans-serif;  
}
/* This customizes the sushi 1 text*/

.tea{ 
  border-radius: 30%;
  width:300px;
   position: relative;
  top: -300px
  }
/* Customizes tea image to be right*/

.sushi2{ 
  border-radius: 30%;
  width:300px;
   float: left;
   position: relative;
  top: -300px
  }
/* Customizes sushi image to be left*/

.door{ 
  border-radius: 15%;
  width: 700px;
   float: center;
   position: relative;
  top: -460px
  }
/* Customizes door image to be bottom middle*/

.uber{
  width: 250px;
   float: center;
   position: relative;
  top: -400px;
  }
/* Customizes the uber logo image to be down middle*/


.bottom-text-container {
  display: flex;             
  justify-content: center;     
  gap: 50px;
   position: relative;
  top: -200px;
                
  color: white;
  font-family: 'Poppins', sans-serif;
}
/* customizes the schedule for both locations to be at the bottom and have a gap between*/

.bottom-paragraph {
  max-width: 400px;            
  line-height: 1.6;            
  font-size: 18px;
  margin: 0;                 
}
/* Customizes the paragaph diameters.*/

